# Django
*.log
*.pot
*.pyc
__pycache__/
*~$
/local_settings.py

# Ambientes virtuais
/venv/
/env/
/myvenv/

# Banco de dados (SQLite)
*.sqlite3

# Mídia local (uploads de usuários)
/media/

# Static files (se você usar collectstatic)
/staticfiles/

# Python: Ignore scripts Python compilados
*.exe
*.dll
*.so
.DS_Store